#! /bin/bash
# Managed by Ansible

{% if ansible_local is defined and ansible_local.aws is defined %}
export AWS_ACCESS_KEY_ID="{{
ansible_local.aws.access_key|default('AWS_KEY_ID_HERE') }}"
export AWS_SECRET_ACCESS_KEY="{{
ansible_local.aws.secret_key|default('AWS_SECRET_KEY_HERE') }}"
{% endif %}

/usr/bin/python {{ route53_dyndns_destination_path }}/r53dyndns.py -R "{{ route53_dyndns_record }}" -U "http://ifconfig.me/ip"
